{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>On this site you will find the work of ROUET Thibaut and RICHARD Raphaël around the dataset <a href="https://archive.ics.uci.edu/ml/datasets/diabetes+130-us+hospitals+for+years+1999-2008">
    Diabetes 130-US hospitals for years 1999-2008 Data Set</a>
  </p>
  <p>
    Go to page <a href="{{ url_for('analysis.analysis') }}">Analysis</a> to see our data visualisation work and <a href="{{ url_for('model.model') }}">Model</a> to see how we created a model that guesses whether a patient will be readmitted in an hospital depending of a series of parameter
  </p>
  <p>
    To use our provided API, go to page <a href="{{ url_for('prediction.prediction') }}">prediction</a> using the URL to pass parameters like this <a href="{{ url_for('prediction.prediction') }}">example</a> <!--Change the example !!!-->
  </p>
{% endblock %}